@import "reset";
@import "font";
@import "mixin";
@import "variables";

/*common*/
.wrap {
  width: 100%;
  height: 100%;
}

/*header*/
.header {
  @include header;
  .bar {
    display: none;
  }
  #gnb {
    display: none;
  }
}

/*my info*/
.my {
  width: 100%;
  height: 950px;
  display: flex;
  margin: 80px 0 200px;
  .my-info {
    width: 50%;
    height: 100%;
    background: map-get($main-color, darkb);
    .my-info-box {
      margin-left: 30%;
      width: 55%;
      height: 100%;
      color: #fff;
      padding-top: 130px;
      h2 {
        font: normal 18px/1 "oneB";
        margin-bottom: 50px;
      }
      h1 {
        font: normal 80px/1.1 "oneB";
        margin-bottom: 250px;
      }
      p {
        font: 18px/1 "oneB";
        margin-bottom: 30px;
      }
      li {
        font: 16px/1 "oneL";
        margin-bottom: 15px;
        transition: all 0.3s;
        i {
          font-size: 24px;
          margin-right: 50px;
          text-align: center;
        }
        &:last-child:hover {
          color: map-get($main-color, mint);
        }
      }
    }
  }
  .my-image {
    width: 50%;
    height: 100%;
    background: map-get($main-color, mint);
    display: flex;
    align-items: center;
    img {
      width: 450px;
      height: 660px;
      object-fit: cover;
      margin-left: 280px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    }
  }
}
.qa {
  width: 1450px;
  height: 100%;
  margin: 0 auto;
  h1 {
    text-align: center;
    font: 80px/1 "oneR";
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
  }
  .qa-box {
    width: 1000px;
    height: 100%;
    margin: 0 auto 300px;
    .title {
      padding: 5px;
      font: 25px/1 "oneR";
      margin-bottom: 30px;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        color: map-get($main-color, darkb);
      }
      &::after {
        content: "\f105";
        font-family: "fontawesome";
        float: right;
      }
      &.active::after {
        transform: rotate(90deg);
        color: map-get($main-color, click);
      }
      &:hover,
      &.active {
        background: map-get($main-color, darkb);
        color: #fff;
      }
    }
    .desc {
      margin-bottom: 30px;
      padding: 5px;
      font: 20px/2rem "oneL";
      letter-spacing: 2px;
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

.footer {
  @include foot;
}

/*** tablet ***/
@media screen and (max-width: 1024px) {
  .wrap {
    overflow-x: hidden;
  }
  /*header*/
  .header {
    @include tablet-header;
  }
  .my {
    .my-info {
      .my-info-box {
        h1 {
          font: 50px/1 "oneB";
          margin-bottom: 200px;
        }
        li {
          width: 300px;
          i {
            margin-right: 15px;
          }
        }
      }
    }
    .my-image {
      img {
        width: 300px;
        height: 460px;
        margin-left: 20px;
      }
    }
  }
  .qa {
    width: 100%;
    padding: 20px;
    .qa-box {
      width: 650px;
    }
  }
}

/*** mobile ***/
@media screen and (max-width: 768px) {
  /*header*/
  .header {
    .inner {
      position: relative;
      .image {
        width: 150px;
        height: 150px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .bar {
        display: block;
        position: absolute;
        top: 50%;
        left: 22%;
      }
    }
  }
  .my {
    display: flex;
    flex-direction: column;
    margin-bottom: 400px;
    .my-info {
      width: 100%;
      .my-info-box {
        text-align: center;
        margin: 0 auto;
        width: 300px;
        h1 {
          margin-bottom: 150px;
        }
        li {
          width: 250px;
          margin: 0 auto 20px;
          text-align: left;
          &:last-child {
            margin-bottom: 100px;
          }
        }
      }
    }
    .my-image {
      width: 100%;
      height: 100%;
      img {
        margin: 30px auto;
      }
    }
  }
  .qa {
    width: 100%;
    height: 100%;
    h1 {
      font-size: 60px;
    }
    .qa-box {
      width: 300px;
      .title {
        font-size: 20px;
        margin-bottom: 50px;
        &::after {
          float: none;
          margin-left: 5px;
        }
      }
    }
  }
}
