@mixin home-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font: 42px/1 "oneB";
    position: relative;
    height: 60px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 155px;
      height: 1px;
      background: #000;
    }
  }
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    &:hover p {
      text-decoration: underline;
      text-underline-offset: 8px;
    }
    p {
      font: 20px/1 "oneR";
    }
    i {
      font-size: 20px;
    }
  }
}

@mixin btn {
  button {
    width: 195px;
    height: 45px;
    border-radius: 3px;
    background: #000;
    color: #fff;
    font: 20px/1 "oneR";
    transition: all 0.5s;
    i {
      font-size: 20px;
      margin-left: 10px;
    }
    cursor: pointer;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}
@mixin foot {
  width: 100%;
  height: 520px;
  background: #000;
  color: #fff;
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    a {
      width: 200px;
      height: 200px;
      margin-top: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0;
      }
    }
    .footer-info {
      width: 385px;
      height: 15px;
      padding: 25px 0 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      p {
        font: 12px/1 "oneL";
        &::after {
          content: "";
          width: 1px;
          height: 1px;
          margin: 0 20px;
          border: 1px solid #fff;
        }
        &:last-child::after {
          display: none;
        }
      }
    }
    .footer-link {
      text-align: center;
      a {
        i {
          margin: 0 30px;
          text-align: center;
          font-size: 24px;
        }
      }
    }
    .footer-bottom {
      margin: 95px 0 86px;
      p {
        font: 12px/1rem "oneL";
      }
    }
  }
}
@mixin header {
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 0 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .inner {
    width: 1450px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .image {
      width: 200px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .nav {
      display: flex;
      gap: 100px;
      li {
        a {
          font: 20px/1 "oneR";
          &:hover {
            text-decoration: underline;
            text-underline-offset: 8px;
          }
        }
      }
    }
  }
}
@mixin tablet-header {
  .inner {
    position: relative;
    overflow: hidden;
    .bar {
      display: block;
      position: absolute;
      top: 50%;
      right: 52%;
      transform: translateY(-50%);
      font-size: 20px;
      cursor: pointer;
      z-index: 9999;
    }
    #gnb {
      display: block;
      position: fixed;
      top: 0;
      right: -330px;
      width: 330px;
      height: 100vh;
      padding: 80px 20px 0 0;
      background: #fff;
      text-align: right;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      z-index: 999;
      transition: 0.3s;
      &.active {
        right: 0;
      }
      a {
        color: #000;
        display: block;
        padding: 16px;
        font-size: 18px;
      }
    }
    .nav {
      display: none;
    }
  }
}
