@import "reset";
@import "font";
@import "mixin";
@import "variables";

/*common*/
.wrap {
  width: 100%;
  height: 100%;
}

/*header*/
.header {
  @include header;
  .bar {
    display: none;
  }
  #gnb {
    display: none;
  }
}

/* search */
.life-search {
  margin: 140px 0 120px;
  display: flex;
  justify-content: center;
  form {
    position: relative;
    input {
      width: 685px;
      height: 60px;
      border: 3px solid #003087;
      border-radius: 30px;
      padding: 0 20px;
    }
    i {
      position: absolute;
      top: 35%;
      right: 30px;
      font-size: 20px;
      color: map-get($main-color, medileb);
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        font-size: 33px;
        top: 25%;
        right: 30px;
        color: #000;
      }
    }
  }
}
.life-title {
  margin-bottom: 120px;
  ul {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: 100px;
    li {
      cursor: pointer;
      font: 32px/1 "oneB";
      padding-right: 100px;
      border-right: 1px solid #000;
      transition: all 0.3s;
      &:last-child {
        border: none;
      }
      &.active {
        color: map-get($main-color, medileb);
        font: 35px/1 "oneB";
      }
    }
  }
}
.life-image {
  margin-bottom: 300px;
  .content {
    display: flex;
    flex-direction: column;
    gap: 70px;
    display: none;
    &.active {
      display: block;
    }
    div {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-bottom: 70px;
      span {
        img {
          width: 315px;
          height: 300px;
          object-fit: cover;
          margin-bottom: 20px;
        }
        p {
          a {
            font: 20px/1 "oneB";
          }
        }
      }
    }
  }
}
/*footer*/
.footer {
  @include foot;
}
/*** tablet ***/
@media screen and (max-width: 1024px) {
  .wrap {
    overflow-x: hidden;
  }
  /*header*/
  .header {
    @include tablet-header;
  }
  .life-title {
    ul {
      gap: 70px;
      margin-left: 40px;
      li {
        padding-right: 50px;
      }
    }
  }
  .life-image {
    .content {
      gap: 50px;
      div {
        gap: 20px;
        span {
          img {
            width: 215px;
            height: 200px;
          }
          p {
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

/*** mobile ***/
@media screen and (max-width: 768px) {
  /*header*/
  .header {
    .inner {
      position: relative;
      .image {
        width: 150px;
        height: 150px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .bar {
        display: block;
        position: absolute;
        top: 50%;
        left: 22%;
      }
    }
  }
  .life-search {
    form {
      input {
        width: 350px;
      }
    }
  }
  .life-title {
    margin-bottom: 100px;
    ul {
      gap: 5px;
      margin-left: 1%;
      li {
        font-size: 18px;
        margin-right: 20px;
        padding-right: 0;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 30px;
        box-shadow: 0 0 2px;
        &.active {
          font: 25px/1 "oneB";
          border: 1px solid #000;
        }
        &:last-child {
          border: 1px solid #ddd;
        }
      }
    }
  }
  .life-image {
    .content {
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          img {
            width: 315px;
            height: 300px;
          }
          p {
            a {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
