* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@font-face {
  font-family: "oneR";
  src: url("./font/ONE Mobile Regular.ttf");
}
@font-face {
  font-family: "oneB";
  src: url("./font/ONE Mobile Bold.ttf");
}
@font-face {
  font-family: "oneL";
  src: url("./font/ONE Mobile Light.ttf");
}
/*common*/
.wrap {
  width: 100%;
  height: 100%;
}

/*header*/
.header {
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 0 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header .inner {
  width: 1450px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .inner .image {
  width: 200px;
  height: 100px;
}
.header .inner .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .inner .nav {
  display: flex;
  gap: 100px;
}
.header .inner .nav li a {
  font: 20px/1 "oneR";
}
.header .inner .nav li a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.header .bar {
  display: none;
}
.header #gnb {
  display: none;
}

/* search */
.life-search {
  margin: 140px 0 120px;
  display: flex;
  justify-content: center;
}
.life-search form {
  position: relative;
}
.life-search form input {
  width: 685px;
  height: 60px;
  border: 3px solid #003087;
  border-radius: 30px;
  padding: 0 20px;
}
.life-search form i {
  position: absolute;
  top: 35%;
  right: 30px;
  font-size: 20px;
  color: #003087;
  cursor: pointer;
  transition: all 0.3s;
}
.life-search form i:hover {
  font-size: 33px;
  top: 25%;
  right: 30px;
  color: #000;
}

.life-title {
  margin-bottom: 120px;
}
.life-title ul {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-left: 100px;
}
.life-title ul li {
  cursor: pointer;
  font: 32px/1 "oneB";
  padding-right: 100px;
  border-right: 1px solid #000;
  transition: all 0.3s;
}
.life-title ul li:last-child {
  border: none;
}
.life-title ul li.active {
  color: #003087;
  font: 35px/1 "oneB";
}

.life-image {
  margin-bottom: 300px;
}
.life-image .content {
  display: flex;
  flex-direction: column;
  gap: 70px;
  display: none;
}
.life-image .content.active {
  display: block;
}
.life-image .content div {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 70px;
}
.life-image .content div span img {
  width: 315px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}
.life-image .content div span p a {
  font: 20px/1 "oneB";
}

/*footer*/
.footer {
  width: 100%;
  height: 520px;
  background: #000;
  color: #fff;
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .footer-content a {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}
.footer .footer-content a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}
.footer .footer-content .footer-info {
  width: 385px;
  height: 15px;
  padding: 25px 0 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .footer-content .footer-info p {
  font: 12px/1 "oneL";
}
.footer .footer-content .footer-info p::after {
  content: "";
  width: 1px;
  height: 1px;
  margin: 0 20px;
  border: 1px solid #fff;
}
.footer .footer-content .footer-info p:last-child::after {
  display: none;
}
.footer .footer-content .footer-link {
  text-align: center;
}
.footer .footer-content .footer-link a i {
  margin: 0 30px;
  text-align: center;
  font-size: 24px;
}
.footer .footer-content .footer-bottom {
  margin: 95px 0 86px;
}
.footer .footer-content .footer-bottom p {
  font: 12px/1rem "oneL";
}

/*** tablet ***/
@media screen and (max-width: 1024px) {
  .wrap {
    overflow-x: hidden;
  }
  /*header*/
  .header .inner {
    position: relative;
    overflow: hidden;
  }
  .header .inner .bar {
    display: block;
    position: absolute;
    top: 50%;
    right: 52%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    z-index: 9999;
  }
  .header .inner #gnb {
    display: block;
    position: fixed;
    top: 0;
    right: -330px;
    width: 330px;
    height: 100vh;
    padding: 80px 20px 0 0;
    background: #fff;
    text-align: right;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: 0.3s;
  }
  .header .inner #gnb.active {
    right: 0;
  }
  .header .inner #gnb a {
    color: #000;
    display: block;
    padding: 16px;
    font-size: 18px;
  }
  .header .inner .nav {
    display: none;
  }
  .life-title ul {
    gap: 70px;
    margin-left: 40px;
  }
  .life-title ul li {
    padding-right: 50px;
  }
  .life-image .content {
    gap: 50px;
  }
  .life-image .content div {
    gap: 20px;
  }
  .life-image .content div span img {
    width: 215px;
    height: 200px;
  }
  .life-image .content div span p a {
    font-size: 16px;
  }
}
/*** mobile ***/
@media screen and (max-width: 768px) {
  /*header*/
  .header .inner {
    position: relative;
  }
  .header .inner .image {
    width: 150px;
    height: 150px;
  }
  .header .inner .image img {
    width: 100%;
    height: 100%;
  }
  .header .inner .bar {
    display: block;
    position: absolute;
    top: 50%;
    left: 22%;
  }
  .life-search form input {
    width: 350px;
  }
  .life-title {
    margin-bottom: 100px;
  }
  .life-title ul {
    gap: 5px;
    margin-left: 1%;
  }
  .life-title ul li {
    font-size: 18px;
    margin-right: 20px;
    padding-right: 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 0 2px;
  }
  .life-title ul li.active {
    font: 25px/1 "oneB";
    border: 1px solid #000;
  }
  .life-title ul li:last-child {
    border: 1px solid #ddd;
  }
  .life-image .content div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .life-image .content div span img {
    width: 315px;
    height: 300px;
  }
  .life-image .content div span p a {
    font-size: 18px;
  }
}/*# sourceMappingURL=mylife.css.map */