* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@font-face {
  font-family: "oneR";
  src: url("./font/ONE Mobile Regular.ttf");
}
@font-face {
  font-family: "oneB";
  src: url("./font/ONE Mobile Bold.ttf");
}
@font-face {
  font-family: "oneL";
  src: url("./font/ONE Mobile Light.ttf");
}
/*common*/
.wrap {
  width: 100%;
  height: 100%;
}

/*header*/
.header {
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 0 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header .inner {
  width: 1450px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .inner .image {
  width: 200px;
  height: 100px;
}
.header .inner .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .inner .nav {
  display: flex;
  gap: 100px;
}
.header .inner .nav li a {
  font: 20px/1 "oneR";
}
.header .inner .nav li a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.header .bar {
  display: none;
}
.header #gnb {
  display: none;
}

/*body*/
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 230px 0 335px;
}
.title h1 {
  font: 100px/1 "oneB";
}
.title p {
  font: 20px/1 "oneR";
  color: #bdbdbd;
  margin-top: 75px;
}

/*content*/
.contents {
  width: 1450px;
  height: 100%;
  margin: 0 auto;
}
.contents article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  margin-bottom: 430px;
}
.contents article .project-image {
  width: 500px;
  height: 400px;
  box-shadow: 0 0 10px;
  overflow: hidden;
}
.contents article .project-image img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: all 2s;
}
.contents article .project-image:hover img {
  -o-object-position: bottom;
     object-position: bottom;
}
.contents article .project-info h2 {
  font: 32px/1 "oneR";
}
.contents article .project-info h1 {
  font: 42px/1 "oneB";
  margin: 20px 0 50px;
}
.contents article .project-info span {
  display: flex;
  align-items: center;
  gap: 18px;
}
.contents article .project-info span p {
  font: 16px/1 "oneL";
  margin-bottom: 100px;
}
.contents article .project-info a {
  font: 18px/1 "oneB";
  margin-right: 50px;
}
.contents article .project-info a:hover {
  border-bottom: 1px solid #000;
}

/*footer*/
.footer {
  width: 100%;
  height: 520px;
  background: #000;
  color: #fff;
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .footer-content a {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}
.footer .footer-content a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}
.footer .footer-content .footer-info {
  width: 385px;
  height: 15px;
  padding: 25px 0 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .footer-content .footer-info p {
  font: 12px/1 "oneL";
}
.footer .footer-content .footer-info p::after {
  content: "";
  width: 1px;
  height: 1px;
  margin: 0 20px;
  border: 1px solid #fff;
}
.footer .footer-content .footer-info p:last-child::after {
  display: none;
}
.footer .footer-content .footer-link {
  text-align: center;
}
.footer .footer-content .footer-link a i {
  margin: 0 30px;
  text-align: center;
  font-size: 24px;
}
.footer .footer-content .footer-bottom {
  margin: 95px 0 86px;
}
.footer .footer-content .footer-bottom p {
  font: 12px/1rem "oneL";
}

/*detail*/
.detail {
  width: 980px;
  height: 100%;
  margin: 230px auto 0;
}
.detail .detail-title {
  display: flex;
  justify-content: space-between;
}
.detail .detail-title h1 {
  font: 80px/1 "oneB";
}
.detail .detail-title p {
  font: 16px/1 "oneL";
  margin: 35px 0;
}
.detail .detail-title p em {
  font: normal 18px/1 "oneB";
  margin-right: 20px;
}
.detail .detail-title span a {
  width: 20px;
  height: 20px;
}
.detail .detail-title span a i {
  font-size: 20px;
}
.detail .detail-content .desktop-image {
  margin-bottom: 50px;
}
.detail .detail-content .desktop-image a {
  display: inline-block;
  width: 980px;
  height: 660px;
  position: relative;
}
.detail .detail-content .desktop-image a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
  opacity: 0;
  transition: all 0.5s;
}
.detail .detail-content .desktop-image a img {
  width: 980px;
  height: 660px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #000;
}
.detail .detail-content .desktop-image a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.5s;
}
.detail .detail-content .desktop-image a:hover i {
  opacity: 1;
}
.detail .detail-content .desktop-image a:hover:before {
  opacity: 1;
}
.detail .detail-content .description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.detail .detail-content .description p {
  font: 16px/1 "oneL";
}
.detail .detail-content .description p b {
  font: normal 20px/2rem "oneB";
}
.detail .detail-content .description .description-link a {
  margin-left: 40px;
  font-size: 20px;
}
.detail .detail-content .description-detail {
  width: 980px;
  height: auto;
  border: 1px solid #000;
  border-radius: 20px;
  margin-bottom: 200px;
}
.detail .detail-content .description-detail p {
  padding: 10px;
  font: 16px/2rem "oneR";
}
.detail .detail-content .description-tablet-mobile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
.detail .detail-content .description-tablet-mobile div h2 {
  margin-bottom: 20px;
  font: 18px/1 "oneB";
}
.detail .detail-content .description-tablet-mobile div img {
  display: block;
  width: 400px;
  height: 400px;
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all 5s;
}
.detail .detail-content .description-tablet-mobile div img:hover {
  -o-object-position: bottom;
     object-position: bottom;
}
.detail .detail-content .description-tablet-mobile div a {
  font: 16px/1 "oneR";
}
.detail .detail-content .description-tablet-mobile div a:hover {
  border-bottom: 1px solid #000;
}
.detail .detail-content .description-tablet-mobile div a:hover i {
  margin-left: 10px;
}
.detail .detail-content .description-tablet-mobile div a i {
  transition: all 0.3s;
}
.detail .detail-content .description-tablet-mobile .mobile img {
  width: 300px;
}

/* featherlight css */
.featherlight .featherlight-content {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.featherlight-content iframe {
  width: 100%;
  height: 100%;
}

.featherlight .featherlight-close-icon {
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 30px;
  line-height: 25px;
  width: 25px;
  cursor: pointer;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  border: none;
  padding: 0;
  font-size: 40px;
}

/*** tablet ***/
@media screen and (max-width: 1024px) {
  .wrap {
    overflow-x: hidden;
  }
  /*header*/
  .header .inner {
    position: relative;
    overflow: hidden;
  }
  .header .inner .bar {
    display: block;
    position: absolute;
    top: 50%;
    right: 52%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    z-index: 9999;
  }
  .header .inner #gnb {
    display: block;
    position: fixed;
    top: 0;
    right: -330px;
    width: 330px;
    height: 100vh;
    padding: 80px 20px 0 0;
    background: #fff;
    text-align: right;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: 0.3s;
  }
  .header .inner #gnb.active {
    right: 0;
  }
  .header .inner #gnb a {
    color: #000;
    display: block;
    padding: 16px;
    font-size: 18px;
  }
  .header .inner .nav {
    display: none;
  }
  .title {
    margin-bottom: 150px;
  }
  .contents {
    width: 100%;
    margin: 0 auto;
  }
  .contents article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 200px;
  }
  .contents .project02 .project-info {
    order: 2;
  }
  .contents .project02 .project-image {
    order: 1;
  }
  .contents .project04 .project-info {
    order: 2;
  }
  .contents .project04 .project-image {
    order: 1;
  }
  .detail {
    width: 100%;
    margin: 200px auto 0;
  }
  .detail .detail-title {
    padding: 0 10%;
  }
  .detail .detail-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detail .detail-content .desktop-image a {
    width: 700px;
    height: 500px;
  }
  .detail .detail-content .desktop-image a img {
    width: 700px;
    height: 500px;
  }
  .detail .detail-content .description {
    gap: 90px;
  }
  .detail .detail-content .description-detail {
    width: 700px;
    height: auto;
    margin-bottom: 150px;
  }
  .detail .detail-content .description-tablet-mobile {
    gap: 50px;
  }
}
/*** mobile ***/
@media screen and (max-width: 768px) {
  .header .inner {
    position: relative;
  }
  .header .inner .image {
    width: 150px;
    height: 150px;
  }
  .header .inner .image img {
    width: 100%;
    height: 100%;
  }
  .header .inner .bar {
    display: block;
    position: absolute;
    top: 50%;
    left: 22%;
  }
  .title h1 {
    font: 70px/1 "oneB";
  }
  .title p {
    font: 16px/1 "oneR";
  }
  .contents article .project-image {
    width: 300px;
    height: 300px;
  }
  .contents article .project-info h2 {
    font: 20px/1 "oneR";
  }
  .detail {
    width: 100%;
  }
  .detail .detail-title h1 {
    font: 50px/1 "oneB";
  }
  .detail .detail-title p {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font: 14px/1 "oneL";
  }
  .detail .detail-title p em {
    font: 16px/1 "oneB";
  }
  .detail .detail-content .desktop-image a {
    width: 300px;
    height: 200px;
  }
  .detail .detail-content .desktop-image a img {
    width: 300px;
    height: 200px;
  }
  .detail .detail-content .description {
    gap: 0;
    margin: 0 auto;
  }
  .detail .detail-content .description p b {
    display: block;
    margin: 5px 0;
  }
  .detail .detail-content .description .description-link a {
    display: block;
    margin-bottom: 10px;
  }
  .detail .detail-content .description-detail {
    width: 300px;
    height: auto;
    margin: 50px 0 100px;
  }
  .detail .detail-content .description-detail p {
    font-size: 14px;
  }
  .detail .detail-content .description-tablet-mobile {
    display: flex;
    flex-direction: column;
  }
  .detail .detail-content .description-tablet-mobile div img {
    width: 300px;
  }
}/*# sourceMappingURL=projectstyle.css.map */