* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@font-face {
  font-family: "oneR";
  src: url("./font/ONE Mobile Regular.ttf");
}
@font-face {
  font-family: "oneB";
  src: url("./font/ONE Mobile Bold.ttf");
}
@font-face {
  font-family: "oneL";
  src: url("./font/ONE Mobile Light.ttf");
}
/*common*/
.wrap {
  width: 100%;
  height: 100%;
}

/*** desktop ***/
/*========= index ============*/
.index-section {
  width: inherit;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("./img/01index/background.jpg") center/cover no-repeat;
}
.index-section h1 {
  font: bold 180px/1 "oneB";
  animation: go linear 2s;
}
.index-section h2 {
  font: 80px/1 "oneR";
  margin: 40px 0 125px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: go linear 1s;
}
.index-section .index-btn button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  font: 32px/1 "oneB";
  transition: all 0.3s;
}
.index-section .index-btn button:hover {
  background: #fff;
  color: #000;
}

@keyframes go {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*============= home================*/
/*header*/
.header {
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 0 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header .inner {
  width: 1450px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .inner .image {
  width: 200px;
  height: 100px;
}
.header .inner .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .inner .nav {
  display: flex;
  gap: 100px;
}
.header .inner .nav li a {
  font: 20px/1 "oneR";
}
.header .inner .nav li a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.header .bar {
  display: none;
}
.header #gnb {
  display: none;
}

/*figure*/
.home-figure {
  margin-top: 80px;
}
.home-figure .figuer {
  width: 100%;
  height: 839px;
  position: relative;
  overflow: hidden;
}
.home-figure .figuer .figure-inner {
  height: 100%;
  overflow: hidden;
}
.home-figure .figuer .figure-inner input[name=tabmenu] {
  display: none;
}
.home-figure .figuer .figure-inner .tabs {
  width: 300%;
  height: 100%;
  overflow: hidden;
  transition: all 0.5s;
}
.home-figure .figuer .figure-inner .tabs .tab {
  width: 33.33%;
  height: 100%;
  float: left;
  overflow: hidden;
  color: #fff;
}
.home-figure .figuer .figure-inner .tabs .tab div {
  float: left;
  height: 100%;
}
.home-figure .figuer .figure-inner .tabs .figuer01 {
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("./img/02main/main1.jpg") center/cover no-repeat;
}
.home-figure .figuer .figure-inner .tabs .figuer01 .figure-text {
  position: relative;
  top: 50%;
  left: 15%;
}
.home-figure .figuer .figure-inner .tabs .figuer01 .figure-text h1 {
  position: relative;
  font: 80px/1 "oneB";
}
.home-figure .figuer .figure-inner .tabs .figuer01 .figure-text h1::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 200px;
  height: 3px;
  background: #fff;
}
.home-figure .figuer .figure-inner .tabs .figuer01 .figure-text h4 {
  position: absolute;
  font: 32px/1 "oneB";
  margin: 50px 0 60px;
}
.home-figure .figuer .figure-inner .tabs .figuer02 {
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("./img/02main/main2.jpg") center/cover no-repeat;
}
.home-figure .figuer .figure-inner .tabs .figuer02 .figure-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.home-figure .figuer .figure-inner .tabs .figuer02 .figure-text h1 {
  font: 50px/1 "oneB";
  color: #ddd;
  margin-bottom: 200px;
}
.home-figure .figuer .figure-inner .tabs .figuer02 .figure-text h4 {
  font: 20px/1 "oneB";
}
.home-figure .figuer .figure-inner .tabs .figuer03 {
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("./img/02main/main3.jpg") center/cover no-repeat;
}
.home-figure .figuer .figure-inner .tabs .figuer03 .figure-text {
  text-align: center;
  position: relative;
  top: 55%;
  left: 50%;
}
.home-figure .figuer .figure-inner .tabs .figuer03 .figure-text h1 {
  font: 40px/3rem "oneB";
  color: #ddd;
  margin-bottom: 100px;
}
.home-figure .figuer .figure-inner .tabs .figuer03 .figure-text h4 {
  font: 20px/1 "oneB";
}
.home-figure .figuer .figure-inner .btn {
  width: 25%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.home-figure .figuer .figure-inner .btn label {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #fff;
  margin: 30px;
  cursor: pointer;
  position: relative;
}
.home-figure .figuer .figure-inner .btn label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  border: 1px solid #000;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  left: -10px;
  transition: all 0.3s;
}
.home-figure .figuer .figure-inner .btn label:hover::before {
  border: 1px solid #fdee1a;
}
.home-figure .figuer .figure-inner input[id=tab1]:checked ~ .btn label[for=tab1]::before {
  border: 1px solid #fdee1a;
}
.home-figure .figuer .figure-inner input[id=tab2]:checked ~ .btn label[for=tab2]::before {
  border: 1px solid #fdee1a;
}
.home-figure .figuer .figure-inner input[id=tab3]:checked ~ .btn label[for=tab3]::before {
  border: 1px solid #fdee1a;
}
.home-figure .figuer .figure-inner input[id=tab1]:checked ~ .tabs {
  margin-left: 0;
}
.home-figure .figuer .figure-inner input[id=tab2]:checked ~ .tabs {
  margin-left: -100%;
}
.home-figure .figuer .figure-inner input[id=tab3]:checked ~ .tabs {
  margin-left: -200%;
}

/*article*/
.project {
  width: 1450px;
  height: 100%;
  margin: 170px auto 0;
}
.project .article-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project .article-title h1 {
  font: 42px/1 "oneB";
  position: relative;
  height: 60px;
}
.project .article-title h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 155px;
  height: 1px;
  background: #000;
}
.project .article-title a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.project .article-title a:hover p {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.project .article-title a p {
  font: 20px/1 "oneR";
}
.project .article-title a i {
  font-size: 20px;
}
.project .project-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.project .project-content .project-content-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.project .project-content .project-content-detail .project-img-link img {
  width: 400px;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 90px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project .project-content .project-content-detail p {
  font: 16px/1 "oneL";
  margin: 25px 0 15px;
}
.project .project-content .project-content-detail a h2 {
  font: 32px/1 "oneR";
}
.project .project-content .project-content-detail:hover {
  transform: translateY(-50px);
}

.aboutme {
  width: 1450px;
  height: 100%;
  margin: 240px auto 245px;
}
.aboutme .article-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
.aboutme .article-title h1 {
  font: 42px/1 "oneB";
  position: relative;
  height: 60px;
}
.aboutme .article-title h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 155px;
  height: 1px;
  background: #000;
}
.aboutme .article-title a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.aboutme .article-title a:hover p {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.aboutme .article-title a p {
  font: 20px/1 "oneR";
}
.aboutme .article-title a i {
  font-size: 20px;
}
.aboutme .aboutme-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 145px;
}
.aboutme .aboutme-content .aboutme-background {
  width: 475px;
  height: 645px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #d4f0e4;
}
.aboutme .aboutme-content .aboutme-background img {
  width: 300px;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutme .aboutme-content .aboutme-text {
  display: flex;
  flex-direction: column;
}
.aboutme .aboutme-content .aboutme-text h4 {
  font: 20px/1 "oneR";
}
.aboutme .aboutme-content .aboutme-text h1 {
  font: 42px/1.3 "oneB";
  margin: 55px 0 85px;
}
.aboutme .aboutme-content .aboutme-text p {
  font: 16px/1 "oneL";
  margin-bottom: 90px;
}
.aboutme .aboutme-content .aboutme-text a button {
  width: 195px;
  height: 45px;
  border-radius: 3px;
  background: #000;
  color: #fff;
  font: 20px/1 "oneR";
  transition: all 0.5s;
  cursor: pointer;
}
.aboutme .aboutme-content .aboutme-text a button i {
  font-size: 20px;
  margin-left: 10px;
}
.aboutme .aboutme-content .aboutme-text a button:hover {
  background: #fff;
  color: #000;
}

.mylife {
  width: 1550px;
  height: 100%;
  margin: 0 auto;
}
.mylife .article-title {
  width: 1450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mylife .article-title h1 {
  font: 42px/1 "oneB";
  position: relative;
  height: 60px;
}
.mylife .article-title h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 155px;
  height: 1px;
  background: #000;
}
.mylife .article-title a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mylife .article-title a:hover p {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.mylife .article-title a p {
  font: 20px/1 "oneR";
}
.mylife .article-title a i {
  font-size: 20px;
}
.mylife .mylife-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 135px;
}
.mylife .mylife-content .mylife-img {
  width: 300px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.mylife .mylife-content .mylife-img a img {
  width: 300px;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.mylife .mylife-content .mylife-img i {
  position: absolute;
  bottom: 25px;
  right: 20px;
  font-size: 30px;
  opacity: 0;
  transition: all 0.3s;
}
.mylife .mylife-content .mylife-img span {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font: 18px/1 "oneL";
  color: #fff;
  opacity: 0;
  transition: all 0.3s;
}
.mylife .mylife-content .mylife-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.3s;
}
.mylife .mylife-content .mylife-img:hover::before {
  opacity: 1;
}
.mylife .mylife-content .mylife-img:hover i, .mylife .mylife-content .mylife-img:hover span {
  opacity: 1;
}

.contact {
  width: 100%;
  height: 100%;
  margin: 245px auto 0;
  display: flex;
  flex-direction: column;
  background: #fbfbfb;
  position: relative;
  overflow: hidden;
}
.contact .contact-title {
  margin: 200px 0 246px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact .contact-title h1 {
  font: 100px/1 "oneB";
}
.contact .contact-title p {
  margin: 90px 0 70px;
  font: 16px/1 "oneL";
}
.contact .contact-title a button {
  width: 195px;
  height: 45px;
  border-radius: 3px;
  background: #000;
  color: #fff;
  font: 20px/1 "oneR";
  transition: all 0.5s;
  cursor: pointer;
}
.contact .contact-title a button i {
  font-size: 20px;
  margin-left: 10px;
}
.contact .contact-title a button:hover {
  background: #fff;
  color: #000;
}
.contact .contact-title #contact-box {
  position: absolute;
  top: 190px;
  right: -9990px;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #000;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  z-index: 99;
  transition: all 0.5s;
}
.contact .contact-title #contact-box.active {
  right: 0;
}
.contact .contact-title #contact-box a {
  position: absolute;
  top: 50px;
  right: 130px;
}
.contact .contact-title #contact-box a i {
  font-size: 30px;
  cursor: pointer;
}
.contact .contact-title #contact-box a:hover {
  color: #fdee1a;
}
.contact .contact-title #contact-box .contact-box-title {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .contact-title #contact-box .contact-box-title h1 {
  font: 80px/1 "oneB";
}
.contact .contact-title #contact-box .contact-box-title h4 {
  margin: 10px 0;
}
.contact .contact-title #contact-box .contact-input {
  width: 800px;
}
.contact .contact-title #contact-box .contact-input div input {
  width: 250px;
  height: 50px;
  margin: 25px 25px;
  background: none;
  border: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.contact .contact-title #contact-box .contact-input div input:focus {
  outline: none;
}
.contact .contact-title #contact-box .contact-input div .message {
  width: 550px;
}
.contact .contact-title #contact-box .contact-input input[type=submit] {
  background: none;
  margin-top: 25px;
  border: none;
  color: #fff;
  cursor: pointer;
  font: 18px/1 "oneB";
  transition: all 0.3s;
}
.contact .contact-title #contact-box .contact-input input[type=submit]:hover {
  color: #fdee1a;
}
.contact .contact-title #contact-box .contact-input input[type=submit]:hover ~ i {
  color: #fdee1a;
  margin-left: 10px;
}
.contact .contact-title #contact-box .contact-input i {
  transition: all 0.3s;
}
.contact .contact-img {
  width: 1450px;
  height: 300px;
  margin: 0 auto 133px;
  position: relative;
}
.contact .contact-img span img {
  width: 150px;
  height: 150px;
}
.contact .contact-img span .html-logo {
  position: absolute;
  top: 150px;
  left: 0;
}
.contact .contact-img span .css-logo {
  position: absolute;
  top: 0;
  left: 300px;
}
.contact .contact-img span .js-logo {
  position: absolute;
  top: 150px;
  left: 600px;
}
.contact .contact-img span .git-logo {
  position: absolute;
  top: 0;
  left: 900px;
}
.contact .contact-img span .firebase-logo {
  width: 300px;
  height: 85px;
  position: absolute;
  right: 0;
  top: 0;
}

/*footer*/
.footer {
  width: 100%;
  height: 520px;
  background: #000;
  color: #fff;
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .footer-content a {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}
.footer .footer-content a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}
.footer .footer-content .footer-info {
  width: 385px;
  height: 15px;
  padding: 25px 0 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .footer-content .footer-info p {
  font: 12px/1 "oneL";
}
.footer .footer-content .footer-info p::after {
  content: "";
  width: 1px;
  height: 1px;
  margin: 0 20px;
  border: 1px solid #fff;
}
.footer .footer-content .footer-info p:last-child::after {
  display: none;
}
.footer .footer-content .footer-link {
  text-align: center;
}
.footer .footer-content .footer-link a i {
  margin: 0 30px;
  text-align: center;
  font-size: 24px;
}
.footer .footer-content .footer-bottom {
  margin: 95px 0 86px;
}
.footer .footer-content .footer-bottom p {
  font: 12px/1rem "oneL";
}

/*** tablet ***/
@media screen and (max-width: 1024px) {
  .wrap {
    overflow-x: hidden;
  }
  /*index*/
  .index-section h1 {
    font: 130px/1 "oneB";
  }
  .index-section h2 {
    font: 70px/1 "oneR";
  }
  /*header*/
  .header .inner {
    position: relative;
    overflow: hidden;
  }
  .header .inner .bar {
    display: block;
    position: absolute;
    top: 50%;
    right: 52%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    z-index: 9999;
  }
  .header .inner #gnb {
    display: block;
    position: fixed;
    top: 0;
    right: -330px;
    width: 330px;
    height: 100vh;
    padding: 80px 20px 0 0;
    background: #fff;
    text-align: right;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: 0.3s;
  }
  .header .inner #gnb.active {
    right: 0;
  }
  .header .inner #gnb a {
    color: #000;
    display: block;
    padding: 16px;
    font-size: 18px;
  }
  .header .inner .nav {
    display: none;
  }
  /*article*/
  .home-figure .figuer .figure-inner .tabs .figuer01 .figure-text {
    left: 10%;
  }
  .home-figure .figuer .figure-inner .tabs .figuer01 .figure-text h1 {
    font-size: 60px;
  }
  .home-figure .figuer .figure-inner .tabs .figuer02 .figure-text h1 {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .home-figure .figuer .figure-inner .tabs .figuer03 .figure-text h1 {
    font-size: 30px;
  }
  .home-figure .figuer .figure-inner .btn label {
    margin: 20px;
  }
  .project {
    width: 100%;
    padding: 0 50px;
  }
  .project .project-content {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .aboutme {
    width: 100%;
    padding: 0 50px;
  }
  .aboutme .aboutme-content {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .aboutme .aboutme-content .aboutme-background {
    height: 545px;
  }
  .aboutme .aboutme-text {
    width: 475px;
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #2a3033;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  .mylife {
    width: 100%;
  }
  .mylife .article-title {
    width: 100%;
    padding: 0 50px;
  }
  .mylife .mylife-content {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 300px 300px;
    gap: 100px;
  }
  .mylife .mylife-content .mylife-img:last-child {
    display: none;
  }
  .contact .contact-title h1 {
    font: 70px/1 "oneB";
  }
  .contact .contact-title #contact-box {
    top: 0px;
  }
  .contact .contact-title #contact-box .contact-box-title h1 {
    font: 60px/1 "oneB";
  }
  .contact .contact-title #contact-box .contact-input {
    width: 600px;
  }
  .contact .contact-title #contact-box .contact-input div input {
    width: 125px;
  }
  .contact .contact-title #contact-box .contact-input div .message {
    width: 300px;
  }
  .contact .contact-img {
    display: none;
  }
}
/*** mobile ***/
@media screen and (max-width: 768px) {
  .index-section h1 {
    font: 60px/1 "oneB";
  }
  .index-section h2 {
    font: 35px/1 "oneR";
    margin-bottom: 50px;
  }
  .index-section .index-btn button {
    font: 20px/1 "oneB";
  }
  /*header*/
  .header .inner {
    position: relative;
  }
  .header .inner .image {
    width: 150px;
    height: 150px;
  }
  .header .inner .image img {
    width: 100%;
    height: 100%;
  }
  .header .inner .bar {
    display: block;
    position: absolute;
    top: 50%;
    left: 22%;
  }
  /*article*/
  .home-figure .figuer {
    height: 650px;
  }
  .home-figure .figuer .figure-inner .tabs .figuer01 .figure-text {
    top: 20%;
  }
  .home-figure .figuer .figure-inner .tabs .figuer01 .figure-text h1 {
    font-size: 40px;
  }
  .home-figure .figuer .figure-inner .tabs .figuer01 .figure-text h4 {
    font-size: 20px;
  }
  .home-figure .figuer .figure-inner .tabs .figuer02 .figure-text h1 {
    font-size: 20px;
  }
  .home-figure .figuer .figure-inner .tabs .figuer02 .figure-text h4 {
    font-size: 15px;
  }
  .home-figure .figuer .figure-inner .tabs .figuer03 .figure-text {
    left: 40%;
  }
  .home-figure .figuer .figure-inner .tabs .figuer03 .figure-text h1 {
    font: 20px/1 "oneB";
  }
  .home-figure .figuer .figure-inner .btn label {
    width: 5px;
    height: 5px;
    margin: 10px;
  }
  .home-figure .figuer .figure-inner .btn label::before {
    width: 20px;
    height: 20px;
    top: -8px;
    left: -8px;
  }
  .project .article-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .project .project-content .project-content-detail .project-img-link img {
    width: 300px;
    height: 280px;
  }
  .aboutme .article-title {
    display: flex;
    flex-direction: column;
  }
  .aboutme .aboutme-content .aboutme-background img {
    width: 250px;
    height: 350px;
  }
  .mylife .article-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .mylife .mylife-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .mylife .mylife-content .mylife-img:last-child {
    display: block;
  }
  .contact .contact-title h1 {
    font: 30px/1 "oneB";
  }
  .contact .contact-title p {
    font: 14px/1 "oneL";
  }
  .contact .contact-title #contact-box {
    display: flex;
    flex-direction: column;
  }
  .contact .contact-title #contact-box a {
    position: absolute;
    top: 10px;
    right: 50px;
  }
  .contact .contact-title #contact-box a i {
    font-size: 20px;
    cursor: pointer;
  }
  .contact .contact-title #contact-box .contact-box-title {
    position: absolute;
    top: 35px;
    height: 250px;
  }
  .contact .contact-title #contact-box .contact-box-title h1 {
    font: 50px/1 "oneB";
    margin-bottom: 5px;
  }
  .contact .contact-title #contact-box .contact-box-title h4 {
    margin: 5px 0;
  }
  .contact .contact-title #contact-box .contact-input div input {
    width: 150px;
  }
  .contact .contact-title #contact-box .contact-input div .message {
    width: 360px;
  }
}/*# sourceMappingURL=style.css.map */